<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-black{
        color:black
    }
</style>
<body style="background-color:white">

  <nav class="navbar" style="background-color:#D6E900">
      <a class="navbar-brand">My Book Recommender</a>
      <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
<!--          <li><a href="/Top 25 Author">Top 25 Author</a></li>-->
          <li><a href="/recommend">Recommend by Book Title</a></li>
          <li><a href="/recommend by Author">Recommend by Author</a></li>
          <li><a href="/recommend by Publisher">Recommend by Publisher</a></li>
      </ul>
  </nav>

  <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-black" style="font-size:25px">Top 50 Books</h1>


          </div>

          {% for i in range(book_name|length) %}
              <div class="col-md-3" style="margin-top:30px">
                  <div class="card">
                       <div class="card-body">
                           <img class="card-img-top" src="{{ image[i] }}">
                           <h2 class="text-black" style="font-size:20px">{{ book_name[i] }}</h2>
                           <h4 class="text-black">{{ author[i] }}</h4>
                           <h4 class="text-black">{{ votes[i] }}</h4>
                           <h4 class="text-black">{{ rating[i] }}</h4>
                       </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>

</body>
</html>